<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edge</title>
</head>
<body>
    <form action="/" method="post">
        <label for="reqUrl">Cloud Url</label>
        <input type="url" name="requrl">
        <br><br>
        <label for="myUrl">My Url</label>
        <input type="url" name="myurl">
        <br><br>
        <label for="id">id:</label>
        <input type="text" name="id">
        <br><br>
        <label for="lat">lat:</label>
        <input type="text" name="lat">
        <br><br>
        <label for="long">long:</label>
        <input type="text" name="long">
        <br><br>
        <label for="long">CpuTime:</label>
        <input type="text" name="cpuTime">
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>