<html>
    
    <form method ="POST" align="center">
        <head>FOG NODE DETAILS</head><br><br>
        <label for="id"> node id:</label>
        <input type="text" id="id" name="fogid"><br><br>
        <label for="lat"> node latitude:</label>
        <input type="text" id="lat" name="foglat"><br><br>
        <label for="long">node longitude:</label>
        <input type="text" id="long" name="foglong"><br><br>
        <label for="cpuTime">node cpuTime:</label>
        <input type="text" id="cpuTime" name="fogcpuTime"><br><br>
        <label for="url">Url:</label>
        <input type="url" id="url" name="url"><br><br>
        <input type ="submit">
        

      </form>
      </html>